.eventsListContainer {
    width: 65%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}

.card {
    width: 380px;
    height: 350px;
    margin: 10px
}

.card .card-image>img {
    height: 212px;
}

.card-text {
    width: 350px;
    height: 70px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
}

.chip {
    background-color: #26a69a;
    color: #fff;
}