.searchBarContainer {
    position: relative;
    width: 800px;
    bottom: 95px;
    padding: 16px 95px;
    border-radius: 6px;
    padding-bottom: 35px;
    margin: auto;
    text-align: center;
    background: #fff;
    z-index: 999;
}

.searchBarInput {
    width: auto !important;
    margin: 0 5px !important;
}

.searchBarForm {
    display: flex;
}

.searchBarTitle {
    font-size: 40px;
    font-weight: 200;
    color: #ee6e73;
    font-family: Benton Sans, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}